h2{
    text-align: center;
    color: rgb(255, 255, 155);
}
header{
    background-color:rgb(117, 78, 78);
}
body{
    background-color: rgb(255, 255, 155);
    border: 30px solid rgb(255, 255, 155)
}
.btn{
    background-color: #703c3c;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px auto;
    color: whitesmoke;
}
